* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0 auto;
}

/* MARGIN STYLING*/

.marginTop40 {
    margin-top: 40px;
}

.marginRight80 {
    margin-right: 80px;
}

.marginBottom40 {
    margin-bottom: 40px;
}

.marginLeft80 {
    margin-left: 80px;
}

.marginTopBottom40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.marginRightLeft80 {
    margin-left: 80px;
    margin-right: 80px;
}

/* PADDING STYLING */

.paddingRightLeft60 {
    padding-right: 60px;
    padding-left: 60px;
}


/*CONTAINER STYLING*/

.containerOne {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    margin: auto;
}

.containerTwo {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-start;
    align-items: center;
    align-content: flex-start;
    gap: 20px;
    padding: 0px 0px;
}

.containerThree {
    display: flex;
    justify-content: center;
    flex: 1;
}

.containerFour {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-end;
    gap: 20px;
    padding: 0px 0px;
}

.containerFive {
    display: flex;
    justify-content: center;
    width:100%;
    flex: 1;
}

.containterSix {
    display: flex;
    justify-content: center;
    flex: 1;
}

.containerSeven {
    display:flex;
    flex-direction: column;
    flex-grow:1;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.containerEight {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 80vh;
}

.containerNine {
    display: flex;
    flex-direction: column;
    width:50%;
    height: auto;

}

.containerTen {
    display:flex; 
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    width: auto;
}

.containerEleven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #99aeba;
    border-radius: 5px;
    height: 180px;
    width: 180px;
    padding: 0px 20px;
    background-color: #99aeba;

}

li {
    width: 200px;
}

.containerFour > li {
    text-align: right;
    display: flex;
    justify-self: flex-end;
    list-style-type: inside;
}


/* FONT STYLING */

.fontOne {
    font-family: "Overlock", sans-serif;
    font-size: 6em;
    font-weight: 200px;
}

.fontTwo {
    font-family: "Overlock", sans-serif;
    font-size: 2em;
    font-weight: 200px;
}

.fontThree {
    font-family: "Overlock", sans-serif;
    font-size: 2em;
    font-weight: 200px;
}

.fontFour {
    font-family: "Overlock", sans-serif;
    font-size: 6em;
    font-weight: 200px;
    color:#007cb6; 
}

.fontFive {
    font-family: "Overlock", sans-serif;
    font-size: 1em;
    color:#007cb6;
}


/* IMAGE STYLING */

.imgOne {
    position: relative;
    background-image: url('/img/arubabeach.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 0px 0px 50px 50px ;
}

.imgOne::before {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 0px 0px 50px 50px 
}

.imgTwo {
    width:80%;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    display: block;
    margin: auto 15%;
}